:css
  .container {
  }
  #box1, #box3 {
    position: static;
    border: 1px solid black;
    background-color: #9d9d9d;
    width: 600px;
    height: 50px;
    margin: 10px auto;
  }
  #box2 {
    position: relative;
    border: 1px solid red;
    background-color: #6d6d6d;
    width: 600px;
    height: 50px;
    padding: 10px;
    margin: 5px auto;
  }
#box1 haha
#box2 haha
#box3 haha
.row#faq
  .col-md-8.col-md-offset-3
    %div
      %h2 All You Need To Know!
    .panel-group#accordion
      .panel
        %a.collapsed{ data: { toggle: "collapse", parent: "#accordion"}, href:"#question1" }
          %h4.panel-title
            %span.question-label Q:
            %span What are the qualifications we seek in our ALO7 tutors?
            %span.arrow
        #question1.panel-collapse.collapse
          .panel-body
            %span.answer-label A:
            %ul.answer-list
              %li English native speakers ( We prefer hiring teachers whose mother language is English and who are native speakers from US, Canada, UK and Australia).
              %li Foreign language is NOT required for this position. If you don't know any other foreign language, you can still tutor English as we have all the developed curriculum for you to use.
              %li Enrolled in 4 year College program or with a Bachelor's Degree
      .panel
        %a.collapsed{ data: { toggle: "collapse", parent: "#accordion"}, href:"#question2" }
          %h4.panel-title
            %span.question-label Q:
            %span What are our tutor’s responsibilities?
            %span.arrow
        #question2.panel-collapse.collapse
          .panel-body
            %span.answer-label A:
            %p.answer-content Tutors will tutor English as a Foreign Language to overseas students (age 5 to 15). The curriculum incorporates the key elements of the educational standards from  North America and Europe. Tutoring sessions might be one-on-one, one-on-three, or group sessions.
      .panel
        %a.collapsed{ data: { toggle: "collapse", parent: "#accordion"}, href:"#question3"}
          %h4.panel-title
            %span.question-label Q:
            %span What are technical requirements?
            %span.arrow
        #question3.panel-collapse.collapse
          .panel-body
            %span.answer-label A:
            %ul.answer-list{style: "list-style:none;"}
              %li A quiet room with good lighting.
              %li A computer with camera
              %li Good internet connection
              %li
                Internet speed testing:
                %br
                .span{style: "padding-left:4em;"}
                  650kbps/1.3Mbps (up/down)
                  %br
                  You can check your speed using this link
                  %br
                  %a{href: "http://www.speedtest.net/", target: "blank"}   http://www.speedtest.net/
              %li Headset
              %li Wear a light blue Polo shirt or shirt with collar
      %hr
      .panel
        %a.collapsed{ data: { toggle: "collapse"}, href:"#question4"}
          %h4.panel-title
            %span.question-label Q:
            %span What are tutoring hours?
            %span.arrow
        #question4.panel-collapse.collapse
          .panel-body
            %span.answer-label A:
            %div.answer-content
              %p
                %strong Peak tutoring hours
              %p
                Monday ~ Sunday
                %br
                5:00am to 8:00am EST Normal Winter time.
                %br
                6:00am to 9:00am EST Daylight Saving time
              %p
                %strong Off Peak tutoring time beyond Peaking Tutoring time slots:
                %br
                8:00pm to 8:00am EST (Friday and Saturday) DST
                %br
                9:00pm to 9:00am (Friday and Saturday) Normal Winter time.
      .panel
        %a.collapsed{ data: { toggle: "collapse"}, href:"#question5"}
          %h4.panel-title
            %span.question-label Q:
            %span What is the compensation?
            %span.arrow
        #question5.panel-collapse.collapse
          .panel-body
            %span.answer-label A:
            %div.answer-content
              %p
                %span USD$7.5 per completed Class (Base pay) + Bonus
                %br
                %span Each class is
                %strong 25 minutes
                long.
              %p
                %strong Additional Service fee to Independent Contractor for 1 to 3 and 1 to Many Classes are provided.
              %ul
                %li 1 to 3 tutoring:  5% to 10% additional on top of the base Independent Contractor fee per class.   Each 1 to 3 class can be paid up to $8.25 per 25 minute session.
                %li 1 to Many classes:  5% to 35% additional on top of base Independent Contractor fee per class. The definition of 1 to Many classes refers to the classes that students are sitting in an actual classroom instead of logging in from home.  Each 1 to Many Class can be paid up to $10.13 per 25 minute session.
                %li We also provide $5 for cancellation fee if parents / students cancel within 12 hours
                %li For outstanding tutors who have some extra time during the day, we might offer other freelance opportunities with ALO7, such as writing, presentation development, curriculum development.
                %li We also offer freelance opportunities like recruiter / trainer to highly qualified tutors if they are willing to take on extra projects.
              %p In general, the pay is about starts with USD$15 per 50 minute to USD $20.25 per 50 minute.
