<h1>BootStrap 栅格系统 排版</h1>
<h3>Lorem ipsum dolor sit amet <small>consectetur adipisicing elit</small></h3>
<div class="row">
  <div class="col-xs-6 col-sm-3"
    style="background-color: #fff;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
    <p class="lead">Lorem ipsum <small>dolor sit amet,</small> consectetur adipisicing elit.</p>
    <p>This is a normal</p>
  </div>
  <div class="col-xs-6 col-sm-3"
    style="background-color: #fff;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
    <address>
      <strong>Some Company, Inc.</strong><br>
      007 street<br>
      Some City, State XXXXX<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
    <address>
      <strong>Full Name</strong><br>
      <a href="mailto:#">mailto@somedomain.com</a>
    </address>
  </div>
  <!--<div class="clearfix visible-xs"></div>
  -->
  <div class="col-xs-6 col-sm-3"
    style="background-color: #fff;
    box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco 
      laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
  </div>
  <div class="col-xs-6 col-sm-3"
    style="background-color: #fff;box-shadow: 
    inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
      enim ad minim 
    </p>
  </div>
</div>
<div class="row">
  <div class="clearfix">
    <button class="btn btn-secondary float-xs-left">Example Button pulled left</button>
    <button class="btn btn-secondary float-xs-right">Example Button pullred right</button>
  </div>
  <div class="col-xs-3"
    style="background-color: #fff;
    box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco 
      laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
  </div>
  <div class="col-xs-9"
    style="background-color: #ccc;box-shadow: 
    inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
    <blockquote>
      <p>
        这是一个默认的引用实例。
      </p>
    </blockquote>
    <blockquote>
      这是一个带有源标题的引用。
      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
    <blockquote class="pull-right">
      这是一个向右对齐的引用。
      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-xs-6 bg-info">
        haha=>
      </div>
      <div class="col-xs-6" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco 
          laboris nisi ut aliquip ex ea commodo consequat. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
        haha=>
      </div>
      <div class="col-xs-6 bg-info">
        xixix=>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco 
          laboris nisi ut aliquip ex ea commodo consequat. 
        </p>
      </div>
    </div>
  </div>

</div>




