<nav class="navbar navbar-default" role="navigation"><!-- role 增加可访问性 -->
  <div class="navbar-text">
    <h4>BootStrap练习系统</h4>
  </div>

  <div class="container-fluid">
    <div class="row">
      <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
        <li class="clearfix">
          <li class="active#">
            <a href="/">
              <i class="glyphicon glyphicon-th-large"></i>
              Home
            </a>
            <a href="/help">
              <i class="glyphicon glyphicon-th-large"></i>
              SlidePicture
            </a>
            <a href="/contact">
              <i class="glyphicon glyphicon-th-large"></i>
              InputField
            </a>
            <a href="/about">
              <i class="glyphicon glyphicon-th-large"></i>
              Button
            </a>
            <a href="/faq">
              <i class="glyphicon glyphicon-th-large"></i>
              FAQ
            </a>

            <a href="/hello">
              <i class="glyphicon glyphicon-th-large"></i>
              Hello
            </a>
            <a href="/goodbye">
              <i class="glyphicon glyphicon-th-large"></i>
              GoodBye
            </a>
          </li>
          <li>
            <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
              <i class="glyphicon glyphicon-cog"></i>
             设置
              <span class="pull-right glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
              <li><a href="#"><i class="glyphicon glyphicon-user"></i>1</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>2</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>3</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-edit"></i>4</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>5</a></li>
            </ul>
          </li>
          <li>
            <a href="/help">
              <i class="glyphicon glyphicon-credit-card"></i>
             帮助
            </a>
          </li>
          <li>
            <a href="/contact">
              <i class="glyphicon glyphicon-leaf"></i>
             联系
            </a>
          </li>

          <li>
            <a href="/about">
              <i class="glyphicon glyphicon-globe"></i>
             关于
              <span class="label label-warning pull-right">5</span>
            </a>
          </li>

          <li>
            <a href="/flex_layout">
              <i class="glyphicon glyphicon-fire"></i>
              Flex 布局
            </a>
          </li>

        </ul>
      </div>
    </div><!-- /.row -->
  </div>
</nav>
